@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    a {
        color: rgb(26, 26, 26);
        &:hover {
            color: rgb(80, 80, 80);
            transform: scale(102%);
        }
    }
}
h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar {
    height: 140px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    color: black;
    
}
.tutorra {
    margin-right: auto;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    a {
        color: rgb(0, 0, 0);
        &:hover {
            color: rgb(80, 80, 80);
            transform: scale(102%);
        }
    }
    margin-left: auto;
    margin-right: 40px;
}
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.contact-button {
    background-color: #0022d2;
    border-radius: 10px;
    padding: 20px 30px;
    color: #d89b00;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-bottom: 2px solid rgb(75, 65, 65);
}

//desktop
@media only screen and (min-width: 601px) {
}

//mobile
@media only screen and (max-width: 600px) {
    .navbar {
        height: 3rem;
    }
}
